annotated-doc==0.0.5
annotated-types==0.7.0
anyio==4.14.2
appnope==0.1.4
asttokens==3.0.1
audioop-lts==0.2.2
beautifulsoup4==4.15.0
blinker==1.9.0
brotli==1.2.0
bs4==0.0.2
camera4kivy==0.3.3
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.7
click==8.4.2
comm==0.2.3
contourpy==1.3.3
cryptography==49.0.0
cycler==0.12.1
debugpy==1.8.19
decorator==5.2.1
Deprecated==1.3.1
docutils==0.22.4
executing==2.2.1
fastapi==0.141.1
filelock==3.29.5
filetype==1.2.0
firebase==4.0.1
Flask==3.1.2
flask-cors==6.0.5
Flask-Limiter==4.1.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.3.0
fonttools==4.62.1
fsspec==2026.6.0
gestures4kivy==0.1.4
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.198.0
google-auth==2.55.2
google-auth-httplib2==0.4.0
google-generativeai==0.8.6
googleapis-common-protos==1.75.0
gradio==6.24.0
gradio_client==2.6.0
groovy==0.1.2
grpcio==1.81.1
grpcio-status==1.71.2
gunicorn==23.0.0
h11==0.16.0
hf-gradio==0.4.1
hf-xet==1.6.0
httpcore==1.0.9
httplib2==0.32.0
httpx==0.28.1
huggingface_hub==1.27.0
id==1.6.1
idna==3.11
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
keyring==25.7.0
Kivy==2.3.1
Kivy-Garden==0.1.5
kivymd==1.2.0
kiwisolver==1.5.0
limits==5.8.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplot==0.1.9
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
more-itertools==11.1.0
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.6.1
nh3==0.3.7
npm==0.1.1
numpy==2.4.4
nvidia-ml-py==13.610.43
opencv-python==4.13.0.92
optional-django==0.1.0
ordered-set==4.1.0
orjson==3.12.0
packaging==26.3
pandas==3.0.2
parso==0.8.5
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.5.1
polars==1.42.1
polars-runtime-32==1.42.1
prompt_toolkit==3.0.52
proto-plus==1.28.0
protobuf==5.29.6
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pydub==0.25.1
Pygments==2.19.2
pyloco==0.0.139
pyobjc==12.2.1
pyobjc-core==12.2.1
pyobjc-framework-Accessibility==12.2.1
pyobjc-framework-Accounts==12.2.1
pyobjc-framework-AddressBook==12.2.1
pyobjc-framework-AdServices==12.2.1
pyobjc-framework-AdSupport==12.2.1
pyobjc-framework-AppleScriptKit==12.2.1
pyobjc-framework-AppleScriptObjC==12.2.1
pyobjc-framework-ApplicationServices==12.2.1
pyobjc-framework-AppTrackingTransparency==12.2.1
pyobjc-framework-ARKit==12.2.1
pyobjc-framework-AudioVideoBridging==12.2.1
pyobjc-framework-AuthenticationServices==12.2.1
pyobjc-framework-AutomaticAssessmentConfiguration==12.2.1
pyobjc-framework-Automator==12.2.1
pyobjc-framework-AVFoundation==12.2.1
pyobjc-framework-AVKit==12.2.1
pyobjc-framework-AVRouting==12.2.1
pyobjc-framework-BackgroundAssets==12.2.1
pyobjc-framework-BrowserEngineKit==12.2.1
pyobjc-framework-BusinessChat==12.2.1
pyobjc-framework-CalendarStore==12.2.1
pyobjc-framework-CallKit==12.2.1
pyobjc-framework-Carbon==12.2.1
pyobjc-framework-CFNetwork==12.2.1
pyobjc-framework-Cinematic==12.2.1
pyobjc-framework-ClassKit==12.2.1
pyobjc-framework-CloudKit==12.2.1
pyobjc-framework-Cocoa==12.2.1
pyobjc-framework-Collaboration==12.2.1
pyobjc-framework-ColorSync==12.2.1
pyobjc-framework-CompositorServices==12.2.1
pyobjc-framework-Contacts==12.2.1
pyobjc-framework-ContactsUI==12.2.1
pyobjc-framework-CoreAudio==12.2.1
pyobjc-framework-CoreAudioKit==12.2.1
pyobjc-framework-CoreBluetooth==12.2.1
pyobjc-framework-CoreData==12.2.1
pyobjc-framework-CoreHaptics==12.2.1
pyobjc-framework-CoreLocation==12.2.1
pyobjc-framework-CoreMedia==12.2.1
pyobjc-framework-CoreMediaIO==12.2.1
pyobjc-framework-CoreMIDI==12.2.1
pyobjc-framework-CoreML==12.2.1
pyobjc-framework-CoreMotion==12.2.1
pyobjc-framework-CoreServices==12.2.1
pyobjc-framework-CoreSpotlight==12.2.1
pyobjc-framework-CoreText==12.2.1
pyobjc-framework-CoreWLAN==12.2.1
pyobjc-framework-CryptoTokenKit==12.2.1
pyobjc-framework-DataDetection==12.2.1
pyobjc-framework-DeviceCheck==12.2.1
pyobjc-framework-DeviceDiscoveryExtension==12.2.1
pyobjc-framework-DictionaryServices==12.2.1
pyobjc-framework-DiscRecording==12.2.1
pyobjc-framework-DiscRecordingUI==12.2.1
pyobjc-framework-DiskArbitration==12.2.1
pyobjc-framework-DVDPlayback==12.2.1
pyobjc-framework-EventKit==12.2.1
pyobjc-framework-ExceptionHandling==12.2.1
pyobjc-framework-ExecutionPolicy==12.2.1
pyobjc-framework-ExtensionKit==12.2.1
pyobjc-framework-ExternalAccessory==12.2.1
pyobjc-framework-FileProvider==12.2.1
pyobjc-framework-FileProviderUI==12.2.1
pyobjc-framework-FinderSync==12.2.1
pyobjc-framework-FSEvents==12.2.1
pyobjc-framework-FSKit==12.2.1
pyobjc-framework-GameCenter==12.2.1
pyobjc-framework-GameController==12.2.1
pyobjc-framework-GameKit==12.2.1
pyobjc-framework-GameplayKit==12.2.1
pyobjc-framework-GameSave==12.2.1
pyobjc-framework-HealthKit==12.2.1
pyobjc-framework-ImageCaptureCore==12.2.1
pyobjc-framework-InputMethodKit==12.2.1
pyobjc-framework-InstallerPlugins==12.2.1
pyobjc-framework-InstantMessage==12.2.1
pyobjc-framework-Intents==12.2.1
pyobjc-framework-IntentsUI==12.2.1
pyobjc-framework-IOBluetooth==12.2.1
pyobjc-framework-IOBluetoothUI==12.2.1
pyobjc-framework-IOSurface==12.2.1
pyobjc-framework-iTunesLibrary==12.2.1
pyobjc-framework-KernelManagement==12.2.1
pyobjc-framework-LatentSemanticMapping==12.2.1
pyobjc-framework-LaunchServices==12.2.1
pyobjc-framework-libdispatch==12.2.1
pyobjc-framework-libxpc==12.2.1
pyobjc-framework-LinkPresentation==12.2.1
pyobjc-framework-LocalAuthentication==12.2.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==12.2.1
pyobjc-framework-MailKit==12.2.1
pyobjc-framework-MapKit==12.2.1
pyobjc-framework-MediaAccessibility==12.2.1
pyobjc-framework-MediaExtension==12.2.1
pyobjc-framework-MediaLibrary==12.2.1
pyobjc-framework-MediaPlayer==12.2.1
pyobjc-framework-MediaToolbox==12.2.1
pyobjc-framework-Metal==12.2.1
pyobjc-framework-MetalFX==12.2.1
pyobjc-framework-MetalKit==12.2.1
pyobjc-framework-MetalPerformanceShaders==12.2.1
pyobjc-framework-MetalPerformanceShadersGraph==12.2.1
pyobjc-framework-MetricKit==12.2.1
pyobjc-framework-MLCompute==12.2.1
pyobjc-framework-ModelIO==12.2.1
pyobjc-framework-MultipeerConnectivity==12.2.1
pyobjc-framework-NaturalLanguage==12.2.1
pyobjc-framework-NetFS==12.2.1
pyobjc-framework-Network==12.2.1
pyobjc-framework-NetworkExtension==12.2.1
pyobjc-framework-NotificationCenter==12.2.1
pyobjc-framework-OpenDirectory==12.2.1
pyobjc-framework-OSAKit==12.2.1
pyobjc-framework-OSLog==12.2.1
pyobjc-framework-PassKit==12.2.1
pyobjc-framework-PencilKit==12.2.1
pyobjc-framework-PHASE==12.2.1
pyobjc-framework-Photos==12.2.1
pyobjc-framework-PhotosUI==12.2.1
pyobjc-framework-PreferencePanes==12.2.1
pyobjc-framework-PushKit==12.2.1
pyobjc-framework-Quartz==12.2.1
pyobjc-framework-QuickLookThumbnailing==12.2.1
pyobjc-framework-ReplayKit==12.2.1
pyobjc-framework-SafariServices==12.2.1
pyobjc-framework-SafetyKit==12.2.1
pyobjc-framework-SceneKit==12.2.1
pyobjc-framework-ScreenCaptureKit==12.2.1
pyobjc-framework-ScreenSaver==12.2.1
pyobjc-framework-ScreenTime==12.2.1
pyobjc-framework-ScriptingBridge==12.2.1
pyobjc-framework-SearchKit==12.2.1
pyobjc-framework-Security==12.2.1
pyobjc-framework-SecurityFoundation==12.2.1
pyobjc-framework-SecurityInterface==12.2.1
pyobjc-framework-SecurityUI==12.2.1
pyobjc-framework-SensitiveContentAnalysis==12.2.1
pyobjc-framework-ServiceManagement==12.2.1
pyobjc-framework-SharedWithYou==12.2.1
pyobjc-framework-SharedWithYouCore==12.2.1
pyobjc-framework-ShazamKit==12.2.1
pyobjc-framework-Social==12.2.1
pyobjc-framework-SoundAnalysis==12.2.1
pyobjc-framework-Speech==12.2.1
pyobjc-framework-SpriteKit==12.2.1
pyobjc-framework-StoreKit==12.2.1
pyobjc-framework-Symbols==12.2.1
pyobjc-framework-SyncServices==12.2.1
pyobjc-framework-SystemConfiguration==12.2.1
pyobjc-framework-SystemExtensions==12.2.1
pyobjc-framework-ThreadNetwork==12.2.1
pyobjc-framework-UniformTypeIdentifiers==12.2.1
pyobjc-framework-UserNotifications==12.2.1
pyobjc-framework-UserNotificationsUI==12.2.1
pyobjc-framework-VideoSubscriberAccount==12.2.1
pyobjc-framework-VideoToolbox==12.2.1
pyobjc-framework-Virtualization==12.2.1
pyobjc-framework-Vision==12.2.1
pyobjc-framework-WebKit==12.2.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.32
pyttsx3==2.99
pytz==2026.3.post1
PyYAML==6.0.3
pyzmq==27.1.0
razorpay==1.4.2
readme_renderer==45.0
requests==2.33.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
safehttpx==0.1.7
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
semantic-version==2.10.0
setuptools==81.0.0
shellingham==1.5.4
SimpleWebSocketServer==0.1.2
six==1.17.0
sklearm==1.2
soupsieve==2.8.4
sql==2022.4.0
SQLAlchemy==2.0.54
stack-data==0.6.3
starlette==1.6.0
sympy==1.14.0
threadpoolctl==3.6.0
tomlkit==0.14.0
torch==2.12.1
torchvision==0.27.1
tornado==6.5.4
tqdm==4.68.4
traitlets==5.14.3
twine==7.0.0
typer==0.27.1
typing==3.7.4.3
typing-inspection==0.4.2
typing_extensions==4.16.0
ultralytics==8.4.87
ultralytics-thop==2.0.20
uritemplate==4.2.0
urllib3==2.6.3
ushlex==0.99.1
uvicorn==0.52.3
validators==0.35.0
wcwidth==0.5.0
websocket-client==1.9.0
Werkzeug==3.1.8
wrapt==2.4.1
WTForms==3.2.2
